<h1>product:  <%= @product.name %></h1>
<h3>country of origin: <%= @product.country_of_origin %></h3>
<h3>cost: $  <%= @product.cost %></h3>

<% if @product.reviews.any? %>
  <h4>reviews for this item</h4>

  <% @product.reviews.each do |review| %>
    <ul>
      <li>
        <p> <%= link_to  review.content_body, product_review_path(@product, review) %> 
      </li>
    </ul>
  <% end %>
<% else %>
  <p>there are no reviews for this item</p>
<% end %>
<%= button_to "Add a review for this product", 
              new_product_review_path(@product),
              method: :get %>



<%= button_to "Edit product", 
              edit_product_path(@product),
              method: :get %>

<%= button_to "Delete product", 
              product_path(@product),
              method: :delete %> 

<%= button_to "Return to products Page", 
              products_path,
              method: :get %>


